:root {
  --primaryColor: rgb(0, 164, 179);
  --secondaryColor: hsl(209, 100%, 27%);
  --accentColor: hsl(349, 99%, 65%);
  --subtleAccent50: hsla(209, 100%, 27%, .5);
  --lightText: hsl(0, 0%, 98%);
  --darkText: hsl(215, 100%, 4%);
  --lightAccent: hsl(0, 0%, 73%);
  --backgroundColor: hsl(214, 100%, 14%);
  --headingFont: p22-mackinac-pro, serif;
  --bodyFont: poppins, sans-serif;
  --headingWeight: 800;
  --bodyWeightMed: 500;
  --bodyWeightSemi: 600;
  --borderRadius: 20px;
  --borderRadiusSmall: 10px;
  --borderThickness: 2px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ====== SCROLLBAR ====== */
html::-webkit-scrollbar {
  --scrollbarSize: 12px;
  width: var(--scrollbarSize);
  height: var(--scrollbarSize);
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--primaryColor), var(--secondaryColor));
  background: var(--primaryColor);
  border-radius: var(--borderRadius);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

html::-webkit-scrollbar-track {
  background: var(--subtleAccent50);
  /* box-shadow: inset 1px 1px 5px var(--lightText); */
}

/* Visually Hidden Content | Screen Reader Only */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* === Skip To Main Content === */
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
  color: var(--lightText);
  background-color: var(--primaryColor);
  left: auto;
  top: auto;
  width: max-content;
  height: auto;
  overflow:auto;
  margin: 20px 40%;
  padding: 1em 2em;
  z-index: 999;
  border-radius: var(--borderRadiusSmall);
  text-align: center;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont), system-ui, sans-serif;
  font-size: 16px;
  color: var(--lightText);
  background-color: var(--backgroundColor);
  font-style: normal;
  font-weight: 400;
}

/* @media (max-width: 600px) {
    body {
      font-size: 10px;
      line-height: 1.8;
    }
} */

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100vw;
    justify-content: center; 
    justify-items: center;
    overflow-x: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingFont), system-ui, serif;
}

p:last-child {
  margin-bottom: 0;
}

/* .tmpl-post li,
img {
  max-width: 37.5em; 
} */
p,
.tmpl-post li {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

a[href] {
  color: var(--lightText);
}
/* a[href]:visited {
  color: var(--primaryColor);
} */
main {
  padding: 2rem 6rem;
}

main :first-child {
  margin-top: 0;
}
/* header {
  border-bottom: 1px dashed var(--lightAccent);
}
header:after {
  content: "";
  display: table;
  clear: both;
} */
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  lightText-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: var(--subtleAccent50);
  max-width: 100%;
  overflow: hidden;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* ====== Header ====== */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.main-nav {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding: .5em 3em;
  margin: 0 6rem 3em;
  background-color: var(--lightText);
  color: var(--secondaryColor);
  font-weight: 500;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.main-nav .nav {
  justify-self: end;
}

.nav {
  padding: 0;
  list-style: none;
  font-size: 1em;
}

.nav .nav-item:first-child {
  font-weight: 800;
}
.mobile-nav .nav .nav-item:nth-child(2) {
  font-weight: 800;
}

.nav-item {
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
}

.nav-item a:hover,
.nav-item a:focus {
  text-decoration: none;
  color: var(--secondaryColor);
  outline: none;
  border-bottom: solid 2px var(--accentColor);
  padding-bottom: .25rem;
  transition: ease-out .25s;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
  color: var(--secondaryColor);
}

.nav-item-active {
  border-bottom: solid 2px var(--accentColor);
  padding-bottom: .25rem;
}

.nav-item-active a:hover {
  transition: none;
}

.main-nav .nav {
  display: block;
}

.mobile-nav {
  display: none;
}

@media (max-width: 850px) {
  .main-nav {
    grid-template-columns: 1fr 2fr;
    justify-items: center;
  }

  .main-nav .logo {
    width: 100%;
  }
  
  
}

@media (max-width: 700px) {
  main {
    padding: 2rem 2.5rem;
  }

  .main-nav {
    margin: 0 3rem 1em;
    min-width: 80vw;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    grid-template-columns: 1fr;
    padding: .15em 2em;
  }

  .main-nav .nav {
    margin: 0;
    display: none;
  }
  
  .mobile-nav {
    display: block;
    width: 100%;
    min-width: 80vw;
    margin: 0 auto;
    height: auto;
    background-color: var(--lightText);
    padding: .15rem 1rem;
    text-align: center;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    z-index: 10;
  }

  /* .mobile-nav .nav {
    font-size: 1.65em;
  } */

  .mobile-nav .nav-item {
    margin: 0 .45rem;
  }

  .mobile-nav .nav-item-home-icon {
    position: relative;
      top: .25rem;
  }
    
}

/* ==== Components ==== */
/* Buttons */
.button {
  width: max-content;
  white-space: nowrap;
  padding: .75rem 1.25rem .65rem;
  padding: .75rem 1.25rem;
  border: solid 2px transparent;
  border-radius: var(--borderRadiusSmall);
  font-weight: 600;
  text-decoration: none;
  transition: ease-out .25s;
  font-size: .9em;
  line-height: 1;
}

.button-primary--icon,
.button-secondary--icon,
.button-reverse--icon {
  padding: .65rem 1.25rem .75rem;
}

.button:focus {
  outline: none;
  border-width: 4px;
}

.button-primary,
.button-primary--icon {
  background-color: var(--primaryColor);
}

.button-primary:hover,
.button-primary--icon:hover,
.button-primary:focus,
.button-primary--icon:focus {
  background-color: var(--backgroundColor);
  border-color: var(--primaryColor);
}

.button-secondary,
.button-secondary--icon {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
}

.button-secondary:hover,
.button-secondary--icon:hover,
.button-secondary:focus,
.button-secondary--icon:focus {
  background-color: var(--backgroundColor);
  border-color: var(--accentColor);
}

.button-reverse,
.button-reverse--icon {
  background-color: var(--backgroundColor);
  border-color: var(--primaryColor);
}

.button-reverse:hover,
.button-reverse--icon:hover,
.button-reverse:focus,
.button-reverse--icon:focus {
  background-color: var(--primaryColor);
}

.button-primary--icon::before,
.button-secondary--icon::before,
.button-reverse--icon::before {
  content: url(/assets/img/email-icon-plane.svg);
  width: 20px;
  height: auto;
  object-fit: contain;
  position: relative;
    top: .3em;
  margin-right: .75em;
}

.button-icon--discord,
.button-icon--twitch {
  padding: .75em 1.25em .65em;
}

.button-icon--discord:hover,
.button-icon--twitch:hover {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.button-icon--discord::before {
  content: url(/assets/img/discord-logo.svg);
  position: relative;
    top: .55em;
  margin-right: .75em;
  vertical-align: sub;
}

.button-icon--twitch::before {
  content: url(/assets/img/twitch-logo.svg);
  position: relative;
    top: .3em;
  margin-right: .75em;
  vertical-align: baseline;
}

.button-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin: 2em 0;
}

.button-list li {
  display: inline-block;
  margin-right: 1em;
}

@media (max-width: 600px) {
  .button-list li {
    display: block;
    margin: 0 0 2.5em 0;
  }
  
}


/* Social Links */
.social-links {
  list-style: none;
  display: inline-flex;
  gap: .25rem;
  margin-left: 0;
  padding-left: 0;
  margin: .5rem 0 0;
  align-items: center;
}

.social-links-item {
  margin: 0 .35rem;
  padding-bottom: .25rem;
}

/* .social-links-item:hover {
  border-bottom: solid 2px var(--accentColor);
  transition: ease-out .25s;
} */

.social-links-email img {
  width: 18px;
  height: 18px;
}

@media (max-width: 600px) {
  .social-links-item {
    margin: 0 .5rem;
    padding-bottom: .25rem;
  }

  .social-links-item img {
    width: 22px;
    height: 22px;
  }
  
}

/* ====== BLOG ====== */

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--lightText);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--primaryColor);
  color: var(--lightText);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: var(--lightText);
}

/* ==== MISC ==== */

/* Warning */
.warning {
  background-color: var(--subtleAccent50);
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--lightText);
}

/* ====== MAIN CONTENT ====== */
.inner-section {
  width: 100%;
  margin: 10% 0;
  padding: 0;
  padding: 2rem 6rem;
}

h2 {
  font-size: 3.5em;
}

/* Hero */
.hero-section {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.hero-section h2 {
  font-size: 4em;
  margin: 0;
}

.symbol-align {
  position: relative;
    top: -.15em;
}

.hero-illustrations {
  width: 100%;
  grid-row: 1 / 2;
}

.hero-section .container:first-child {
  grid-row: 2 / 3;
  justify-self: center;
}

.hero-section .container p {
  line-height: 2;
}

.hero-section .container p::first-line {
  line-height: 1.6;
}

.name-highlight {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 2em;
  line-height: 1.2;
}

.section-header {
  width: 100%;
  display: grid;
  align-items: center;
  margin-bottom: 5em;
}

.section-header h2 {
  margin: 0;
}

@media (min-width: 1200px) {
  .inner-section {
    padding: 1em;
  }
  
  main .hero-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-top: 2em;
  }
  
  .hero-section h2 {
    font-size: 6em;
  }

  .hero-illustrations {
    width: 100%;
    grid-row: 1 / 4;
  }
  
  .hero-section .container:first-child {
    grid-row: 1 / 4;
    justify-self: center;
  }

  .section-header {
    grid-template-columns: 2fr 1fr;
  }

  .section-header .button {
    justify-self: end;
  }

}

/* ==== Project Cards ==== */
.project-grid {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 2.5em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
 }

 .project-card--image {
   max-width: 100%;
   width: 100%;
   border-radius: var(--borderRadius);
 }

 .project-card--heading {
   font-size: 2em;
   margin: .75em 0 .25em;
 }

 .project-card--subheading {
   font-style: italic;
   color: var(--primaryColor);
   margin: 0;
 }

 .project-card--description {
   margin: .5em 0;
 }

 .project-card--footer {
   display: grid;
   gap: 1em;
   grid-template-columns: 2fr 1fr;
   margin: 1em 0;
 }

 .project-card--links {
   list-style: none;
   margin-left: 0;
   padding-left: 0;
 }

 .project-card--links li {
   display: inline-block;
   margin-right: .5em;
 }

  a.project-card--morebtn {
    justify-self: center;
    color: var(--primaryColor);
    letter-spacing: .025em;
  }

  a.project-card--morebtn::after {
    content: url(/assets/img/arrow-icon-primaryColor.svg);
    fill: var(--primaryColor);
    margin-left: .75em;
    position: relative;
      top: .2em;
  }

/* Writing Section */
.writing-section {
  width: 100%;
  padding: 0;
  background-color: var(--subtleAccent50);
}

/* Hangout Section */
.hangout-section h2 {
  margin-bottom: .25em;
}

.hangout-grid {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 1em 3em;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  margin-top: -1em;
 }

 .hangout-card {
   max-height: 425px;
 }

 .hangout-card--image {
   border-radius: 100%;
   border: 10px solid var(--backgroundColor);
   position: relative;
    top: 5em;
    left: calc(100% - 65%);
 }

 .hangout-card--details {
   border: 3px solid var(--primaryColor);
   border-radius: var(--borderRadius);
   padding: 5em 1.5em 3em 2.5em;
   min-height: 275px;
   font-size: .95em;
 }

 .hangout-card--title {
   font-size: 1.5em;
   margin: .75em 0 .25em;
 }

 .hangout-card--description {
   margin: .5em 0;
 }

 .hangout-card .button {
   display: block;
   margin: 0 auto;
   padding: .25em 1.25rem .75rem;
   position: relative;
   top: -1.8em;
 }

/* ==== FOOTER ==== */
.main-footer {
  width: 100%;
  background-color: var(--subtleAccent50);
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 2rem;
  word-wrap: break-word;
}

.main-footer a {
  text-decoration-color: var(--primaryColor);
  text-decoration-thickness: 2px;
}


@media (max-width: 600px) {
  .main-footer {
    overflow-x: hidden;
    padding: 1.5rem 3rem 6rem;
    word-break: break-word;
  }
}

.main-footer small {
  font-size: .85em;
}

.main-footer p {
  margin: .5rem 0;
}