---
layout: layouts/base.njk
title: Writing about things… ✍️
templateClass: tmpl-blog
permalink: /writing/
eleventyNavigation:
  key: writing
  order: 3
---

<section class="inner-section">
  <h1>{{ title }}</h1>
  <br>
<div class="fullwidth-section writing-section">
{% set postslist = collections.posts %}
{% include "postslist.njk"%}
</div>
</section>
