---
permalink: /tags/
layout: layouts/home.njk
templateClass: tmpl-taglist
---

<section class="inner-section">
  <h1>Tags</h1>

<ul class="post-tag--list">
        {% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li class="post-tag--list-item">
              <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            </li>
        {% endfor %}   
  </ul>

</section>