<!doctype html>
<html lang="en" >
  <head>
    <style>/* Prevent FOUC */html{visibility: hidden;opacity:0;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- FB Open Ggraph -->
    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:url" content="https://ximenavf.com/" />
    <meta property="og:image" content="{{ socialCard or metadata.socialCard }}" />
    <meta property="og:site_name" content="{{ title or metadata.title }}" />
    <meta property="og:description" content="{{ description or metadata.description }}">
    <!-- Twitter Open Ggraph -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aigaunidos" />
    <meta property="twitter:title" content="{{ title or metadata.title }}" />
    <meta property="twitter:description" content="{{ description or metadata.description }}">
    <meta property="twitter:image" content="{{ socialCard or metadata.socialCard }}" />

    <!-- Link Styles, feeds, favicon -->
    <link rel="stylesheet" href="https://use.typekit.net/gct2mqj.css">
    <link rel="stylesheet" href="{{ '/assets/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="wrapper">
      <a class="skip-main" href="#main">Skip to Main Content</a>
      <header class="main-header">
        <nav class="main-nav">
        <h1><a href="{{ '/' | url }}"><img src="/assets/img/horizontal-logo.svg" alt="" width="200" height="65" class="logo"><span class="visually-hidden">{{ metadata.title }}</span></a></h1>
  
          <ul class="nav">
            <li class="nav-item"><a href="/assets/files/XimenaVilaFerral-Resume-2021.pdf" target="_blank" rel="noopener">resume</a></li>
            <li class="nav-item"><a href="/design/">design</a></li>
            <li class="nav-item"><a href="/code/">code</a></li>
            <li class="nav-item"><a href="/#contact">contact</a></li>

          <!-- {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title | lowercase }}</a></li>
          {%- endfor %} -->
          </ul>
        </nav>
        <nav class="mobile-nav">
          <ul class="nav">
            <li class="nav-item nav-item-home-icon"><a href="/"><span class="visually-hidden">home</span><img src="/assets/img/favicon.png" alt="" width="22px"></a></li>
            <li class="nav-item"><a href="/assets/files/XimenaVilaFerral-Resume-2021.pdf" target="_blank" rel="noopener">resume</a></li>
            <li class="nav-item"><a href="/design/">design</a></li>
            <li class="nav-item"><a href="/code/">code</a></li>
            <li class="nav-item"><a href="/#contact">contact</a></li>
            <!-- {%- for entry in collections.all | eleventyNavigation %}
              <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title | lowercase }}</a></li>
            {%- endfor %} -->
            </ul>
        </nav>
      </header>
  
      <main id="main" {%if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
        
      </main>

      <div class="susmena">
        <img src="/assets/img/susmena.png" alt="Ximena's Among Us avatar. Green with red horns" width="80" height="132">
      </div>

      <button id="backToTopBtn"> 
        <span class="visually-hidden">Back to top</span><img src="/assets/img/arrow-caret-up.svg" alt="" width="20px" height="20px">
      </button>

      <footer class="main-footer">
        <ul class="social-links">
          {% for social in metadata.socials %}
          <li class="social-links-item social-links-{{ social.name }}">
            <a href="{{ social.link }}" target="_blank" rel="noopener" >
              <img src="{{ social.icon }}" alt="" width="20" height="20"/>
              <span class="visually-hidden">{{ social.alt }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <small>
          <p>&copy; {{ helpers.currentYear() }} Ximena Vila Ferral</p>
          <p><a href="https://github.com/ximenavf92/ximenavf" class="footer-gb-link"><img src="/assets/img/github-icon-white.svg" alt="" width="10" height="10"><span class="visually-hidden">View this website's code on Github</span></a>&nbsp; Designed & coded with &hearts; by <a href="https://github.com/ximenavf92">Ximena Vf.</a> Built with <a href="https://www.11ty.dev/">Eleventy</a>. Hosted on <a href="https://netlify.com/">Netlify</a>.</p>
        </small>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/assets/js/main.js" async></script>
  </body>
</html>