---
layout: layouts/base.njk
templateClass: tmpl-post
---
<section class="inner-section">
  <h1>{{ title }}</h1>

    <hr style="margin: 0 0 3em;">
  
  {{ content | safe }}

  <hr style="margin-top: 4em;">
  <ul class="post-simple-navigation">
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  </ul>
  <p class="top-clear">
  <a href="/writing" class="button button-reverse">Back to all posts</a>
</p>
  

</section>